* {
 box-sizing: border-box;
}
body {
 font-family: Arial, Helvetica, sans-serif;
}

/* I really like this color combination */
nav {
 float: left;
 width: 20%;
 height: 1300px; 
 background:#483D8B;
 padding: 25px;
 color: white;
}


h1 {
  text-align: center;
  margin-top: 0.1px;
  font-size:80px;
}

/* I tried this curve and it worked. */
#img1 {
  border-radius: 30%;
}

ul {
  padding-left: 1px;
}

#tb {
  font-family: Arial, Helvetica, sans-serif;
  width: 20%;
}

/* I really like this color combination */


/* Liked this table design from W3schools */
tr:nth-child(even) {
  background-color: #D6EEEE;
}

.custom-font {
    font-size: 25px;
}

p {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 0.9cm;
    padding-left: 200px;
    padding-top: 50px;
    display: block;
    margin-block-start: 0%;
}


h2 {
  font-size:25px;
  line-height: 1cm;
  padding-left: 70px;
  font-weight: bolder;
}

h3 {
  font-size :55px;
  line-height: 1cm;
  text-align: right;
  text-decoration: overline;
  background-color: #483D8B;
  padding-top: 50px;
  color: white;
}
h4 {
  font-size:18px;
  line-height: 1cm;
  margin-left: 250px;
}

#pktb tr:hover {background-color: #ddd;}

#pktb th {
  text-align: left;
  background-color: white;
  color: black;
  padding-left: 200px;
}
 
#pktb td {
  text-align: left;
  color: black;
  padding-left: 80px;
}

/* Saw these emojies somewhere on internet and tried it using w3schools. */
.pk-emoji {
  font-size: 35px;
  color: white;
}

hr.under {
  border-bottom:3px solid white;

}

/* I chose the color to match it. */
hr.under1 {
  border-bottom:3px solid #1a04aa;

}
ul.a {
  font-size: 20px;
  padding-left: 15px;
  line-height: 1cm;
}

ul.b {
  font-size: 20px;
  padding-left: 10px;
  line-height: 1cm;
}

ul.d {
  list-style-type:none;
  margin:0;
  
 
  background-color: #333;
  
  
  padding:10px;
  overflow:hidden;

  font-size:larger;
  font-weight: 550;
}

/*li.a{
  float:right;
}*/

/*li a {
  display:block;
  color:white;
  text-align:center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active){
  background-color: #111;
  margin-left: 1000px;

}*/


.active{
  background-color:#483D8B;
  margin-left: 1000px;
}



/*li.a{
  float:left;
}*/

li.d {
  display:block;
  color:darkgrey;
  text-align:center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active){
  background-color: #111;
}

.active{
  background-color:#483D8B
}

ul.e {
  font-size: 20px;
  padding-left: 50px;
  line-height: 1cm;
}

ul.c{
  margin-left: 50px;
}


/* resize it using adobe photoshope */
.pkimage{
  float:right;
  border-radius: 35%;
  margin: 20px;
}

/*Tried it from w3schools */

*{
  box-sizing: border-box;
}
body {
  background-color: white;
}

.header {
background-color: grey;
color:black;
padding: 15px;

}

/* Did this purposely */
.column {
  float: left;
  padding: 10px;
}

.clearfix::after {
  content:"";
  clear:both;
  display:table;
}

.menu {
  width:25% ;
  padding-top: 2cm;
  padding-left: 1.5cm;
}

.content{
  width: 75%;
}

.menu ul {
list-style-type: none;
margin: 0;
padding: 0;
}

.menu li {
padding: 8px;
margin-bottom: 8px;
background-color: #33b5e5;
color: #ffffff;
}

.menu li:hover {
background-color: #0d0d0e;
}

.pkk{
  margin-left: 2cm;
  margin-top: 1cm;
  font-size: 20px;
}

.imgg1{
  margin-left: 200px;
}

.imgg2{
  margin-left: 700px;
}
.imgg1{
  float: left;
}

.pk-img{
  float: right;
  margin:10px;
  
}

/* Took idea from w3 schools but changed the color accordingly. */
a:visited {
  color: green;
  background-color: transparent;
  text-decoration: none;
  text-align: center;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
  text-align: center;
}

element.style{
  padding-left: 20px;
}

.back{
  background-color: skyblue;
}

.dt1{
  font-size: 25px;
  line-height: 3cm;
  margin-left: 25%;
  font-weight: 700;
}

.dt2{
  font-size: 25px;
  line-height: 3cm;
  margin-left: 50px;
  font-weight: 500;
}

.dt3{
  font-size: 25px;
  line-height: 3cm;
  margin-left: 250px;
  font-weight: 700;
}

dd{
  font-size: 20px;
  margin-left: 500px;
  line-height: 1cm;
}

.pk1 li{
  font-size: 20px;
  color:white;
  line-height: 1cm;
  margin-left: 100px;
  font-weight: 200;

}
.pk1{
  background-color:  #483D8B;

  font-size: 20px;
  line-height: 1cm;
  margin-left: 250px;
  font-weight: 200;

}
.pk2 li{
  font-size: 20px;
  line-height: 1cm;
  margin-left: 100px;
  font-weight: 200;

}
.pk3{
  background-color:grey;
  color:white;
  font-size: 20px;
  line-height: 1cm;
  margin-left: 100px;
  font-weight: 200;
}
.pk3 li{
  font-size: 20px;
  line-height: 1cm;
  margin-left: 100px;
  font-weight: 200;

}


#pk1{
  margin-left: 20px;

}

#pk2{
  margin-left: 300px;


}
.dropbtn {
  background-color: #4c6faf;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 150px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 500px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #020c11;
}

.pkbtn {
  background-color: #4c6faf;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.pk {
  position: relative;
  display: inline-block;
  margin-left:350px;
}

.pk-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 500px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.pk-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.pk-content a:hover {background-color: #f1f1f1}

.pk:hover .pk-content {
  display: block;
}

.pk:hover .pkbtn {
  background-color: #3e578e;
}
